.about-us {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }
}

.about-us__title {
  @include font(25px, 30px);
  font-weight: 700;
  margin-bottom: 27px;
}

.about-us__item {
  @include font(17px, 20px);
  font-weight: 700;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 27px;
  }
}

.about-us__icon-wrapper {
  display: flex;
  width: 55px;
  height: 38px;
  margin-bottom: 18px;
}

.about-us__svg {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .about-us__title {
    @include font(43px, 50px);
    margin-bottom: 42px;
  }

  .about-us__item {
    @include font(20px);
  }

  .about-us__list {
    display: grid;
    grid-template-columns: 240px 328px;
    grid-template-rows: min-content min-content min-content;
    grid-column-gap: 95px;
    grid-row-gap: 27px;
  }

  .about-us__item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .about-us__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

@media (min-width: $desktop-width) {
  .about-us__list {
    display: grid;
    grid-template-columns: 230px 328px;
    grid-template-rows: min-content min-content min-content;
    grid-column-gap: 110px;
    grid-row-gap: 60px;
  }

  .about-us__item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .about-us__item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
