.contacts {
  outline: 5px yellow solid;
  margin-bottom: 39px;
}

.contacts__title {
  @include font("Open Sans bold", 18px, normal, 30px, 700);
}

.contacts__information {
  @include font("Open Sans", 14px, normal, 20px, normal);
  color: $grey-dark;
}

.contacts__link {
  color: $grey-dark;
}
