.contacts {
  margin-bottom: 39px;
}

.contacts__title {
  @include font(18px, 30px);
  font-weight: 700;
  margin-bottom: 32px;
}

.contacts__information {
  @include font(14px, 20px);
  display: flex;
  flex-direction: column;
  color: $grey-dark;
  margin-bottom: 48px;
}

.contacts__wrapper {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 39px;
  }
}

.contacts__term {
  width: 77px;
}

.contacts__definition {
  margin: 0;
}

.contacts__address {
  font-style: normal;
  line-height: 30px;
  margin-top: -5px;
}

.contacts__link {
  color: $grey-dark;
  display: block;
  width: 179px;
  border-bottom: 1px solid $green-border;
}

.contacts__button {
  margin-top: 41px;
  width: 260px;
}

.contacts__map-wrapper {
  @include bg-img("map-mobile.jpg");
  margin: 0 -30px;
  width: 320px;
  height: 455px;
}

@media (min-width: $tablet-width) {
  .contacts__information {
    display: grid;
    grid-template-columns: 293px 335px;
    grid-column-gap: 40px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: grid;
    grid-template:
      "a a a b b b b b"
      "v v v b b b b b"
      "v v v b b b b b"
      "c c c b b b b b";
  }

  .contacts__title {
    grid-area: a;
  }

  .contacts__information {
    grid-area: v;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .contacts__map-wrapper {
    grid-area: b;
    margin-left: auto;
    margin-right: 0;
  }

  .contacts__button {
    grid-area: c;
    margin-top: auto;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: row;
  }
}
