.filters {
  outline: 5px red solid;
  margin-bottom: 55px;
}

.filters__fieldset {
  outline: 5px aqua solid;
  margin: 34px 0;
  border: none;
}

.filters__title {
  @include font("Open Sans", 17px, normal, 16px, 700);
  text-transform: uppercase;
  color: #63d1bb;
}

.filters__type-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters__color-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters__type-item,
.filters__color-item,
.filters__name-item {
  @include font("Open Sans", 17px, normal, 18px, 700);
}

.filters__name-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters__name-item > input[type="text"]::placeholder,
.filters__title + input::placeholder,
.filters__info > textarea::placeholder {
  @include font("Open Sans", 17px, normal, 18px, normal);
  color: #000000;
  opacity: 30%;
}

.filters__legend {
  @include font("Open Sans", 14px, normal, 16px, normal);
  color: $grey-dark;
}
