.filters {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.filters__fieldset {
  margin: 0;
  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.filters__title {
  font-weight: 700;
  color: $aqua-green;
  text-transform: uppercase;
  margin-bottom: 20px;

  @include font(17px);

  @media (min-width: $tablet-width) {
    margin-right: 125px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
    margin-right: 73px;
  }
}

.filters__color-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template:
      "a b c"
      "a b c";
  }
}

.filters__type-item,
.filters__color-item,
.filters__name-item {
  @include font(17px);
}

.filters__name-item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 501px;
    flex-direction: row;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content;
  }
}

.filters__name-item > input[type="text"]::placeholder,
.filters__title + input::placeholder,
.filters__textarea::placeholder {
  color: $black;

  opacity: 30%;
  transition: 0.3s;

  @include font(17px);

  @media (min-width: $tablet-width) {
    @include font(19px);
  }
}

.filters__name-item > input[type="text"]:focus::placeholder,
.filters__title + input:focus::placeholder,
.filters__textarea:focus::placeholder {
  opacity: 100%;
}

.filters__color,
.filters__contacts {
  @media (min-width: $tablet-width) {
    background-color: $grey-light;
  }
}

.filters__type {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
}

.filters__title-type {
  margin-bottom: 32px;
}

.filters__type-item {
  position: relative;
  padding-left: 60px;

  &:not(:last-child) {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 68px;
  }
}

.filters__type-label {
  @include font(17px, 18px);
  font-weight: 700;
  transition: 0.3s;

  &:hover > .filters__radio-style,
  &:focus > .filters__radio-style {
    @include border-all($green-border);
  }

  &:active > .filters__radio-style {
    @include border-all($black-opacity-light);
  }

  @media (min-width: $tablet-width) {
    @include font(19px);
    margin-left: 17px;
  }
}

.filters__radio-style {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translate(0, -50%);

  @include border-all($grey-dark);

  border-radius: 50%;
  margin-left: -60px;

  transition: 0.3s;

  &:hover,
  &:focus {
    @include border-all($green-border);
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    margin-left: -77px;
  }
}

.filters__radio:checked + .filters__radio-style::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $green-border;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.filters__color {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 11px;
    margin-bottom: 66px;
  }
}

.filters__title-color {
  margin-bottom: 32px;
}

.filters__color-item {
  position: relative;
  padding-left: 60px;

  &:not(:last-child) {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 42px;
    }
  }

  &:nth-child(odd) {
    @media (min-width: $tablet-width) {
      width: 248px;
      margin-right: 14px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    padding-left: 68px;
  }
}

.filters__color-label {
  @include font(17px, 19px);
  font-weight: 700;
  transition: 0.3s;

  &:hover > .filters__checkbox-style,
  &:focus > .filters__checkbox-style {
    @include border-all($green-border);
  }

  &:active > .filters__checkbox-style {
    @include border-all($black-opacity-light);
  }

  @media (min-width: $tablet-width) {
    @include font(19px);
    margin-left: 12px;
  }
}

.filters__checkbox-style {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  transform: translate(0, -50%);
  border: 2px solid $grey-dark;
  margin-left: -60px;

  transition: 0.2s;

  &:hover,
  &:focus {
    @include border-all($grey-dark);
  }

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
    margin-left: -82px;
  }
}

.filters__checkbox:checked + .filters__checkbox-style::before {
  position: absolute;
  content: "";

  color: $black;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $mobile-width-only) {
    @include bg-img("tick-mobile.png");
    width: 23px;
    height: 16px;
  }

  @media (min-width: $tablet-width) {
    @include bg-img("tick.png");
    width: 33px;
    height: 22px;
  }
}

.filters__name {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.filters__title-name {
  margin-bottom: 28px;
}

.filters__name-list {
  @media (min-width: $tablet-width) {
    margin-top: -15px;
  }
}

.filters__name-label {
  @include font(17px, 18px);
  font-weight: 700;

  @media (min-width: $tablet-width) {
    @include font(19px);
    padding-top: 15px;
    padding-bottom: 16px;
    margin-right: 24px;
  }
}

.filters__input {
  border: none;
  padding: 16px 0;
  box-shadow: inset 0 -2px 0 $black;
  margin-bottom: 23px;
  outline: none;
  transition: 0.3s;

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 $green-border;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 17px 17px 18px;
    width: 100%;
  }
}

.filters__contacts-wrapper {
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: var(--content-area);
    margin-top: -16px;
  }
}

.filters__contacts-phone,
.filters__contacts-email {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.filters__title-phone,
.filters__title-mail {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100px;
    padding-top: 16px;
    padding-bottom: 19px;
    margin-right: 93px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 15px;
  }
}

.filters__input-phone {
  padding-top: 15px;
  padding-bottom: 19px;
  position: relative;
  background-color: transparent;

  @media (min-width: $desktop-width) {
    width: $desktop-content;
  }
}

.filters__input-mail {
  position: relative;
  background-color: transparent;

  @media (min-width: $desktop-width) {
    width: $desktop-content;
  }
}

.filters__contacts-phone {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 11px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 1px;
  }
}

.filters__contacts {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 27px;
    margin-bottom: 50px;
  }
}

.filters__info {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.filters__title-info {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    margin-right: 128px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 76px;
  }
}

.filters__textarea {
  @include border-all($grey-dark);

  width: $mobile-content-width;
  padding: 15px;
  height: 142px;
  resize: none;
  outline: none;
  transition: 0.3s;

  &:hover,
  &:focus {
    border-color: $green-border;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content;
  }
}

.filters__wrapper-bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content;
    padding: 0;
    margin: 0 auto;
  }
}

.filters__button {
  text-align: center;
  width: $mobile-content-width;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}

.filters__legend {
  color: $grey-dark;
  margin-bottom: 30px;

  @include font(14px);

  @media (min-width: $tablet-width) {
    @include font(17px, 30px);
    padding-top: 12px;
  }
}
