.filters {
  margin-bottom: 55px;
}

.filters__fieldset {
  margin: 34px 0;
  border: none;
}

.filters__title {
  @include font(17px);
  font-weight: 700;
  text-transform: uppercase;
  color: $aqua-green;
}

.filters__color-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template:
      "a b"
      "a b"
      "a b";
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template:
      "a b c"
      "a b c";
  }
}

.filters__type-item,
.filters__color-item,
.filters__name-item {
  @include font(17px);
}

.filters__name-item {
  display: flex;
  flex-direction: column;
}

.filters__name-item > input[type="text"]::placeholder,
.filters__title + input::placeholder,
.filters__textarea::placeholder {
  @include font(17px);
  color: $black;
  opacity: 30%;
}

.filters__legend {
  @include font(14px);
  color: $grey-dark;
}

@media (min-width: $tablet-width) {
  .filters__color,
  .filters__contacts {
    background-color: $grey-light;
  }

  .filters__fieldset {
    display: flex;
  }

  .filters__title {
    margin-right: 100px;
  }

  .filters__name-item {
    flex-direction: row;
  }

  .filters__contacts-wrapper {
    flex-direction: column;
  }

  .filters__contacts-phone,
  .filters__contacts-email {
    display: flex;
  }

  .filters__wrapper-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
