.footer-social {
  @media (max-width: $mobile-width-only) {
    border-bottom: $border;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 365px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 555px;
  }
}

.footer-social__list {
  display: flex;
  width: 140px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    margin-top: 25px;
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
