.page-header {
  outline: 5px red solid;
}

.site-list{
  padding: 0;
  margin: 0 auto;
}

.site-list__item {
  font-size: 17px;
  line-height: 24px;
  padding:28.5px 0 26.5px;
}

.site-list__link{
  color: black;
}
