.page-header {
  outline: 5px red solid;
}

.site-list {
  padding: 0;
  margin: 0 auto;
}

.site-list__item {
  @include font("Open Sans bold", 17px, normal, 24px, 700);
  padding: 28.5px 0 26.5px;
}

.site-list__link {
  color: #000000;
}
