.main-header {
  margin-bottom: 31px;
  background-color: $grey-light;
}

.main-header__title {
  @include font(27px, 30px);
  font-weight: 700;
  margin: 0;
}

.main-header__img {
  display: block;
  margin: 0 auto;
}

.main-header__description {
  @include font(14px, 24px);
  color: $grey-dark;
}

.main-header__item {
  padding-top: 24px;
  padding-bottom: 31px;
}

.main-header__item-interior {
  background-color: $aqua-green;
}

.main-header__item-toy {
  background-color: $turquoise;
}

.main-header__link {
  @include font(19px, 24px);
  font-weight: 700;
  color: $white;
}

@media (min-width: $tablet-width) {
  .main-header__list {
    display: flex;
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .main-header__item > .container {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__list {
    display: flex;
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .main-header__item > .container {
    width: 525px;
  }
}
