.main-header {
  outline: 5px green solid;
  margin-bottom: 31px;
}

.main-header__title {
  @include font(27px, 30px);
  font-weight: 700;
  margin: 0;
  background-color: $grey-light;
}

.main-header__description {
  @include font(14px, 24px);
  color: $grey-dark;
}

.main-header__item {
  padding-top: 24px;
  padding-bottom: 31px;
}

.main-header__item-interior {
  background-color: $aqua-green;
}

.main-header__item-toy {
  background-color: $turquoise;
}

.main-header__link {
  @include font(19px, 24px);
  font-weight: 700;
  color: $white;
}
