.main-header {
  margin-bottom: 31px;

  background-color: $grey-bg;

  @include bg-img("hero-mobile.png", 50%);

  @media (min-resolution: $retina) {
    @include bg-img("hero-mobile@2x.png", 50%);
    background-size: $mobile-width auto;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: -18px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 82px;

    @include bg-img("hero-tablet.png", 50%);

    @media (min-resolution: $retina) {
      @include bg-img("hero-tablet@2x.png", 50%);
      background-size: $tablet-width auto;
    }

    &::after {
      content: "";
      position: absolute;

      width: 100%;
      height: 24px;
      margin-top: -17px;

      @include bg-img("zigzag-tablet.svg", 50%);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 109px;

    @include bg-img("hero-desktop.png", 50%);

    @media (min-resolution: $retina) {
      @include bg-img("hero-desktop@2x.png", 50%);
      background-size: $desktop-width auto;
    }

    &::after {
      content: "";
      position: absolute;

      width: 100%;
      height: 34px;
      margin-top: -22px;

      @include bg-img("zigzag-desktop.svg", 50%);
    }
  }
}

.main-header__title {
  padding-top: 90px;
  padding-bottom: 120px;

  font-weight: 700;
  text-align: center;

  @include font(27px, 30px);

  @media (min-width: $tablet-width) {
    padding: 0 15px;
    padding-top: 74px;
    padding-bottom: 371px;

    @include font(43px, 50px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-bottom: 355px;

    @include font(53px, 57px);
  }
}

.main-header__img {
  display: block;
  margin: 0 auto;
}

.main-header__description {
  color: $grey-dark;

  @include font(14px, 24px);
}

.main-header__list {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1050px;
    margin: 0 auto;
  }
}

.main-header__item {
  transition: margin-top 0.3s;

  &:hover,
  &:focus {
    margin-top: -5px;
  }

  @media (min-width: $tablet-width) {
    width: calc(var(--content-area) / 2);
  }

  @media (min-width: $desktop-width) {
    width: calc(var(--content-area) / 2);
  }
}

.main-header__item-interior {
  background-color: $aqua-green;
}

.main-header__item-toy {
  background-color: $turquoise;
}

.main-header__link {
  position: relative;

  display: flex;
  width: 100%;
  min-height: 103px;
  padding-top: 24px;

  font-weight: 700;
  color: $white;

  text-decoration: none;

  @include font(19px, 24px);

  transition: opacity 0.3s;

  &:hover::after,
  &:focus::after {
    opacity: 70%;
  }

  &:active::after {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    @include font(20px, 30px);
    width: calc(var(--content-area) / 2 - var(--content-area-padding) * 2);
    margin-top: 2px;
    padding-left: 36px;
    min-height: 122px;
  }
}

.main-header__link-interior::after {
  content: url("../img/interior.svg");
  display: flex;
  margin-top: -1px;
  margin-left: 108px;

  width: 40px;
  height: 62px;

  opacity: 50%;

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    margin-left: 110px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
    margin-left: 300px;
  }
}

.main-header__link-toy::after {
  content: url("../img/toy.svg");
  margin-top: -3px;
  margin-left: 114px;

  width: 60px;
  height: 60px;

  opacity: 50%;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    margin-left: 110px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 300px;
  }
}
