.offers-list {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: space-between;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.offers-list__item {
  @include font(15px, 24px);
  font-weight: 700;
  padding: 20px 1px;
  margin-right: 60px;
}
