.offers-list {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 100%;

    display: flex;
    justify-content: space-between;

    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.offers-list__item {
  margin-right: 60px;
  padding: 20px 1px;

  font-weight: 700;

  @include font(15px, 24px);
}
