.page-main {
  @media (min-width: $tablet-width) {
    margin-top: -82px;
  }
}

.page-main__title {
  margin: 0;
  padding-bottom: 73px;

  font-weight: 700;
  text-align: center;

  @include font(27px, 30px);

  @media (min-width: $tablet-width) {
    padding-top: 29px;

    @include font(43px, 50px);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 100px;

    @include font(53px, 57px);
  }
}

.page-main__title-wrapper {
  position: relative;
  z-index: -1;

  margin-bottom: 17px;
  padding-top: 73px;

  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;

    &::after {
      content: "";
      position: absolute;
      bottom: -13px;

      width: 100%;
      height: 24px;
      margin: 0 calc((50vw - var(--content-area) / 2 + var(--content-area-padding)) * -1);

      @include bg-img("zigzag-tablet.svg", 50%);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 112px;

    &::after {
      content: "";
      position: absolute;
      bottom: -13px;

      width: 100%;
      height: 34px;
      margin: 0 calc((50vw - var(--content-area) / 2 + var(--content-area-padding)) * -1);

      @include bg-img("zigzag-desktop-form.svg", 50%);
    }
  }
}

.page-main__description {
  margin-bottom: 28px;

  color: $grey-dark;

  @include font(13px, 24px);

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;

    @include font(17px, 30px);
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content;
    margin: 0 auto;
    margin-bottom: 78px;
  }
}
