.page {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.page__body {
  display: grid;
  align-content: start;
  min-height: 100%;

  grid-template-rows: min-content 1fr min-content;

  @include font("Open Sans bold", 18px, normal, 20px, 700);
  color: black;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page ul {
  list-style: none;
}

.page a {
  text-decoration: none;
}

.page-footer {
  width: 100%;
  margin: 0 auto;
}

.button {
  @include font("Open Sans bold", 18px, normal, 20px, 700);
  text-transform: uppercase;
  color: $grey-dark;
  padding: 16px 0;
  background-color: transparent;
  border: 2px solid $grey-dark;
  box-sizing: border-box;
}
