.page {
  height: 100%;
}

.page__body {
  @include font(18px);
  display: flex;
  flex-direction: column;
  align-content: start;
  min-height: 100%;

  font-family: "Open Sans", "Arial", sans-serif;
  color: $black;
}
