.page-header {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-bottom: 81px;

    @include border(bottom, $black-opacity, 1px);
  }
}

.page-header__logo {
  display: block;
  margin: 0 auto;

  transition: opacity 0.3s;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media (max-width: $mobile-width-only) {
    width: 86px;
    padding-top: 22px;
    padding-bottom: 19px;
  }

  @media (min-width: $tablet-width) {
    margin: auto 0;
    margin-top: 22px;
    margin-left: -2px;

    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-left: 40px;
    margin-top: 9px;

    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.page-header__logo-img {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.page-header__legend {
  position: absolute;
  top: 100%;
  right: 0;

  display: none;

  color: $grey-dark;

  @include font(15px, 24px);

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 20px;

    grid-column: 2/3;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    display: block;

    grid-column: 3/4;
    grid-row: 2/3;
  }
}
