.page-footer {
  width: 100%;

  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    margin-top: 29px;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.page-footer__button {
  margin-top: -7px;

  transition: fill 0.3s, opacity 0.3s;

  &:hover path,
  &:focus path {
    fill: $green-link;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright-span {
  font-weight: 700;

  @include font(19px, 21px);
}

.page-footer__logo {
  display: none;

  transition: fill 0.3s, opacity 0.3s;

  &:hover path,
  &:focus path {
    fill: $green-link;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
