.page {
  height: 100%;
}

.page__body {
  display: grid;
  align-content: start;
  min-height: 100%;

  grid-template-rows: min-content 1fr min-content;

  @include font-normal(18px);
  color: $black;
}

.page a {
  text-decoration: none;
}


