.page-main {
  @media (min-width: $tablet-width) {
    margin-top: -82px;
  }
}

.page-main__title {
  margin: 0;

  font-weight: 700;

  @include font(27px, 30px);

  padding-bottom: 73px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font(43px, 50px);
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    @include font(53px, 57px);
  }
}

.page-main__title-wrapper {
  position: relative;
  z-index: -1;
  background-color: $grey-light;
  margin-bottom: 17px;
  padding-top: 73px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;

    &::after {
      content: "";
      position: absolute;

      width: 100%;
      height: 24px;
      bottom: -13px;
      margin: 0 calc((50vw - var(--content-area) / 2 + var(--content-area-padding)) * -1);

      @include bg-img("zigzag-tablet.svg", 50%);
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;

      width: 100%;
      height: 34px;
      bottom: -13px;
      margin: 0 calc((50vw - var(--content-area) / 2 + var(--content-area-padding)) * -1);

      @include bg-img("zigzag-desktop.svg", 50%);
    }
  }
}

.page-main__description {
  @include font(13px, 24px);
  color: $grey-dark;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include font(17px, 30px);
    margin-bottom: 79px;
  }
}
