.products {
  margin-bottom: 30px;
}

.products__title {
  @include font(17px, 24px);
  font-weight: 700;
}

.products__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.products__item {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.products__description {
  @include font(13px, 30px);
  color: $grey-dark;
}

.products__price {
  @include font(15px, 24px);
  font-weight: 700;
}

.products__item-wrapper {
  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.products__buy-wrapper {
  display: flex;
  justify-content: space-between;
}
