.production-process {
  display: flex;
  flex-direction: column;
  margin-bottom: 91px;

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template: "a a b"
      "a a b"
      "a a b";
  }
}

.production-process__title {
  font-weight: 700;

  @include font(17px, 24px);
}

.production-process__description {
  color: $grey-dark;

  @include font(13px, 24px);
}

.production-process__button {
  padding: 0 18px;

  font-weight: 700;
  color: $grey-dark;
  text-transform: uppercase;

  @include font(18px, 20px);
}

@media (min-width: $tablet-width) {
  .production-process__video-wrapper {
    order: -1;
  }
}


@media (min-width: $tablet-width) {
  .production-process__video-wrapper {
    grid-area: a;
  }
}
