.production-process {
  display: flex;
  flex-direction: column;

  @include border-all($grey-border, 1px);

  @media (max-width: $mobile-width-only) {
    margin-bottom: 58px;
    padding-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 103px;
    padding-bottom: 0;

    grid-template:
      "a a b"
      "a a b"
      "a a b"
      "a a b";
  }
}

.production-process__title {
  position: relative;

  display: flex;

  margin-left: 49px;

  font-weight: 700;

  @include font(17px, 24px);

  &::before {
    content: url("../img/video.svg");
    position: absolute;
    left: 0;
    margin-top: 24px;

    width: 32px;
    height: 22px;

    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      margin-top: 8px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -39px;
      left: 17px;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 156px;
    margin-top: 22px;
    margin-bottom: 27px;
    padding-left: 41px;
  }

  @media (min-width: $tablet-width) {
    width: 310px;
    margin-top: 6px;
    margin-bottom: 23px;
    margin-left: 57px;
    padding-left: 49px;

    @include font(20px, 24px);
  }

  @media (min-width: $desktop-width) {
    width: 178px;
    margin-top: 96px;
    margin-bottom: 27px;
    margin-left: 0;
    padding: 0;
  }
}

.production-process__description {
  margin-bottom: 41px;

  color: $grey-dark;

  @include font(13px, 24px);

  @media (max-width: $mobile-width-only) {
    width: 220px;
    margin-left: 33px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 40px;

    @include font(15px, 30px);
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    margin-bottom: 51px;
    padding: 0;
  }
}

.production-process__video-img {
  width: 260px;
  height: 150px;

  @include border-all($grey-border, 1px);

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.production-process__button {
  width: 192px;
  margin: 0 auto;

  font-weight: 700;
  text-align: center;
  color: $grey-dark;
  text-decoration: none;
  text-transform: uppercase;

  @include font(18px, 20px);

  @media (min-width: $tablet-width) {
    width: 584px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin-left: 2px;
  }
}

.production-process__video-wrapper {
  position: relative;

  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    height: 455px;
    margin-bottom: 0;

    grid-area: a;
  }
}

.production-process__video-button {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 109px;
  height: 85px;

  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);

  @include bg-img("video-button.svg");
}
