.reviews {
  position: relative;

  margin-bottom: 90px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    padding-top: 84px;
    padding-bottom: 102px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
    padding-top: 84px;
    padding-bottom: 155px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -51px;

    width: 100%;
    height: 6px;

    @include bg-img("zigzag.svg", 50%);

    @media (min-width: $tablet-width) {
      bottom: -1px;
      left: 0;

      height: 17px;

      @include bg-img("zigzag-grey-tablet.svg", 50%);
    }

    @media (min-width: $desktop-width) {
      height: 23px;

      @include bg-img("zigzag-grey-desktop.svg", 50%);
    }
  }
}

.reviews > .container {
  position: relative;

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: -84px;
      z-index: -1;

      width: 350px;
      height: 457px;
      margin-left: -50px;

      @include bg-img("review.png");

      @media (min-resolution: $retina) {
        @include bg-img("review@2x.png");
        background-size: 350px auto;
      }
    }

    @media (min-width: $desktop-width) {
      top: -79px;

      margin-left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.reviews__title {
  margin-bottom: 14px;

  font-weight: 700;

  @include font(25px, 30px);

  @media (min-width: $tablet-width) {
    order: -2;
    margin-bottom: 38px;

    @include font(43px, 50px);
  }

  @media (min-width: $desktop-width) {
    order: -2;
    margin-top: -1px;
    margin-bottom: 36px;
    margin-left: 174px;

    @include font(53px, 57px);
  }
}

.reviews__content {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.reviews__description {
  margin-bottom: 34px;

  color: $grey-dark;

  @include font(15px, 30px);

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    @include font(17px, 30px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
    margin-left: 174px;
  }
}

.reviews__br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.reviews__author {
  display: block;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin-left: 174px;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 5px;

  font-style: normal;
  font-weight: 700;

  @include font(17px, 24px);

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;

    @include font(18px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font(17px, 24px);
  }
}

.reviews__author-contact {
  font-style: normal;
  color: $grey-dark;

  @include font(17px, 24px);
}

.reviews__item {
  display: none;
}

.reviews__item--current {
  display: flex;
}

.reviews__toggles {
  display: flex;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    margin: 0;
    margin-right: 25px;
    margin-bottom: 26px;

    column-gap: 37px;

    grid-template-columns: 50px 50px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-right: 19px;
    padding-bottom: 1px;
  }
}

.reviews-toggle {
  position: relative;

  background-color: transparent;

  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 60%;
    cursor: pointer;
  }

  &:active {
    opacity: 30%;
  }

  @media (max-width: $mobile-width-only) {
    width: 130px;
    padding: 11px 49px 10px 37px;

    @include border-all($grey-border, 2px);
  }

  @media (min-width: $tablet-width) {
    border: none;

    &__next {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.reviews__button {
  width: $mobile-content-width;

  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 175px;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.reviews__br--desktop {
  @media (min-width: $desktop-width) {
    display: block;
  }
}
