.reviews {
  outline: 5px blue solid;
  margin-bottom: 38px;
}

.reviews__title {
  @include font("Open Sans bold", 25px, normal, 30px, 700);
}

.reviews__description {
  @include font("Open Sans", 15px, normal, 30px, normal);
  color: $grey-dark;
}

.reviews__author-name {
  @include font("Open Sans bold", 17px, normal, 24px, 700);
}

.reviews__author-contact {
  @include font("Open Sans", 17px, normal, 24px, normal);
  color: $grey-dark;
}
