.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    position: absolute;
    top: 100%;
  }
}

.site-list__item {
  padding-top: 28px;
  padding-bottom: 26px;

  font-weight: 700;

  @include font(17px, 24px);

  @media (max-width: $mobile-width-only) {
    margin: 0 calc((50vw - var(--content-area) / 2 + var(--content-area-padding)) * -1);

    border-bottom: $border-mobile;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 34px;

    @include font(15px, 24px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;

    @include font(17px, 24px);
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    margin: 0;
    padding: 22px 0;

    font-weight: 700;

    @include font(15px, 24px);

    &:not(:last-child) {
      margin-right: 37px;
    }
  }
}

.site-list__link {
  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: flex-start;
    width: $mobile-content-width;
    margin: 0 auto;
    padding-left: 46px;
  }
}

.site-list__item-form {
  @media (min-width: $tablet-width) {
    margin-right: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 35px;
  }
}

.site-list__item-catalog {
  @media (min-width: $desktop-width) {
    padding-right: 35px;

    border-right: $border;
  }
}
