.user-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.user-list__item {
  padding-top: 28px;
  padding-bottom: 26px;

  font-weight: 700;

  @include font(17px, 24px);

  @media (max-width: $mobile-width-only) {
    margin: 0 calc((50vw - var(--content-area) / 2 + var(--content-area-padding)) * -1);

    @include border(bottom, $grey-border);
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.user-list__link {
  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: flex-start;
    width: $mobile-content-width;
    margin: 0 auto;
    padding-left: 46px;
  }
}

.user-list__search-wrapper {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-list__item-cart {
  @media (max-width: $mobile-width-only) {
    background-color: $white;
  }
}

.user-list__link-cart {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    width: 21px;
    height: 18px;

    @include bg-img("cart.svg");

    @media (max-width: $mobile-width-only) {
      top: 2px;
      left: 0;
    }

    @media (min-width: $tablet-width) {
      top: 3px;
      left: 1px;
    }
  }

  @media (max-width: $mobile-width-only) {
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    padding-left: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 2px;
  }
}

.user-list__item-search {
  @media (min-width: $desktop-width) {
    margin-left: 50px;
  }
}

.user-list__link-search {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    width: 18px;
    height: 18px;

    @include bg-img("search.svg");

    @media (max-width: $mobile-width-only) {
      top: 3px;
      left: 2px;
    }

    @media (min-width: $tablet-width) {
      top: 36px;
      left: 33px;
    }

    @media (min-width: $desktop-width) {
      left: 32px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 44px 41px;

    @include border(right, $black-opacity);
    @include border(left, $black-opacity);
  }
}
