.user-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}

.user-list__item {
  @include font(17px, 24px);
  font-weight: 700;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.user-list__search-wrapper {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .user-list__link {
    width: 260px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding-left: 46px;
  }

  .user-list__link-search {
    position: relative;

    &::before {
      @include bg-img("search.svg");
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      left: 0;
      top: 3px;
    }
  }

  .user-list__link-cart {
    position: relative;
    background-color: $white;

    &::before {
      @include bg-img("cart.svg");
      position: absolute;
      content: "";
      width: 21px;
      height: 18px;
      left: 0;
      top: 2px;
    }
  }

  .user-list__item {
    margin: 0 calc((50vw - var(--content-area) / 2 + var(--content-area-padding)) * -1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.user-list__item-cart {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 53px;

    &::before {
      @include bg-img("cart.svg");
      position: absolute;
      content: "";
      width: 21px;
      height: 18px;
      top: 40%;
      left: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 2px;
  }
}

.user-list__link-search {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 44px 41px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    &::before {
      @include bg-img("search.svg");
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      left: 32px;
      top: 35px;
    }
  }
}
