.week-product {
  padding-bottom: 42px;
  margin-bottom: 31px;
  color: $grey-dark;
  position: relative;

  &::after {
    @include bg-img("zigzag.svg", 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;
    margin-bottom: 55px;

    &::after {
      @include bg-img("zigzag-grey-tablet.svg", 50%);
      position: absolute;
      content: "";
      width: 100%;
      height: 17px;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
    margin-bottom: 68px;

    &::after {
      @include bg-img("zigzag-grey-desktop.svg", 50%);
      position: absolute;
      content: "";
      width: 100%;
      height: 23px;
      bottom: 0;
    }
  }
}

.week-product__title {
  @include font(25px, 30px);
  font-weight: 700;
  color: $black;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    @include font(43px, 50px);
    margin-top: 17px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    @include font(53px, 57px);
    margin-left: 30px;
    margin-top: 18px;
  }
}

.week-product__legend {
  @include font(17px, 20px);
  font-weight: 700;
  text-transform: uppercase;
  color: $aqua-green;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: 100px;
    text-align: center;
    margin-top: 22px;
    margin-right: 13px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    margin-left: 32px;
    margin-top: 26px;
  }
}

.week-product__description {
  @include font(15px, 24px);
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include font(17px, 30px);
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    width: $tablet-content-width;
    margin-bottom: 44px;
  }
}

.week-product__characteristic {
  @include font(15px, 20px);
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }
}

.week-product__price {
  @include font(17px, 24px);
  font-weight: 700;
  text-align: center;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    @include font(20px, 24px);
    margin-bottom: 32px;
  }
}

.week-product__characteristic-wrapper {
  display: flex;
  padding-bottom: 12px;
  border-bottom: $border;

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 14px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.week-product__term {
  width: 97px;
}

.week-product__definition {
  width: 163px;
  margin-left: 0;
}

.week-product__img {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.week-product__button {
  width: $mobile-content-width;

  @media (min-width: $tablet-width) {
    width: $tablet-content-width;
  }
}

.week-product__wrapper-top {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.week-product__wrapper-bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-right: 376px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-right: 583px;
    position: relative;
    margin-left: 175px;
  }
}
