@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: url("../fonts/openSans.woff2");
  src: local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans bold";

  src: url("../fonts/opensansbold.woff2");
  src: local("Open Sans bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}
