@mixin font($fs, $lh: $fs + 2px) {
  font-size: $fs;
  line-height: $lh;
}

@mixin bg-img($img, $y: 0, $x: 0) {
  background-image: url("../img/#{$img}");
  background-repeat: no-repeat;
  background-position: $y $x;
}

@mixin border($direction, $color, $width: 1px, $style: solid) {
  border-#{$direction}: $width $style $color;
}

@mixin border-all($color, $width: 2px, $style: solid) {
  border: $width $style $color;
}
