@mixin font($fs, $lh: $fs + 2px) {
  font-size: $fs;
  line-height: $lh;
}

@mixin img($img, $width, $height) {
  background-image: url("../img/#{$img}");
  background-repeat: no-repeat;
  width: $width;
  height: $height;
}
