$grey-dark: #444444;
$green-border: #62d1ba;
$grey-light: #f1f1f1;
$grey-border: #ececec;
$grey-bg: #fbfbfb;
$grey-active: rgba(255, 255, 255, 0.3);
$black: #000000;
$white: #ffffff;
$aqua-green: #63d1bb;
$turquoise: #56c3b2;
$button-black: #231f20;
$mobile-width: 320px;
$mobile-content-width: 260px;
$desktop-width: 1150px;
$tablet-width: 768px;
$tablet-content-width: 292px;
$tablet-width-max:1149px;
$mobile-width-only: 767px;
$border-mobile: 1px solid $grey-border;
$border: 1px solid rgba(0, 0, 0, 0.1);
