$grey-dark: #444444;
$grey-dark-opacity: rgba(68, 68, 68, 0.1);
$grey-dark-light: rgba(68, 68, 68, 0.3);
$grey-light: #f1f1f1;
$grey-border: #ececec;
$grey-bg: #fbfbfb;
$grey-white: #e5e5e5;
$grey-modal: #c6c6c6;
$grey-active: rgba(255, 255, 255, 0.3);

$black: #000000;
$black-opacity: rgba(0, 0, 0, 0.1);
$black-opacity-light: rgba(0, 0, 0, 0.3);
$modal-shadow: rgba(0, 1, 1, 0.25);
$button-black: #231f20;

$white: #ffffff;

$green-border: #62d1ba;
$aqua-green: #63d1bb;
$turquoise: #56c3b2;

$mobile-width: 320px;
$mobile-content-width: 260px;
$desktop-width: 1150px;
$desktop-content: 700px;
$tablet-width: 768px;
$tablet-content-width: 292px;
$tablet-width-max: 1149px;
$mobile-width-only: 767px;
