$grey-dark: #444444;
$green-border: #62d1ba;
$grey-light: #f1f1f1;
$grey-border: #ececec;
$grey-bg: #fbfbfb;
$black: #000000;
$white: #ffffff;
$aqua-green: #63d1bb;
$turquoise: #56c3b2;
$button-black: #231f20;
$desktop-width: 1150px;
$tablet-width: 768px;
$tablet-width-max:1149px;
$mobile-width-only: 767px;
